@import url(../css/style.css);

a{
  text-decoration: none;
  color: white;
}

nav{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  color: white;
  mix-blend-mode: difference;
  z-index: 2;
}

nav > div{
  flex: 1;
}

.toggle-btn{
  display: flex;
  justify-content: flex-end;
}

.burger{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.75rem 2rem 1.5rem 2rem;
  background-color: gray;
  outline: none;
  border: none;
  width: 28px;
  height: 20px;
  transition: all 250ms ease-out;
  cursor: pointer;
}

.burger:before,
.burger:after{
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  background: white;
  transition: all 250ms ease-out;
  will-change: transform;
}

.burger:before{
  transform: translateY(-3px);
}

.burger:after{
  transform: translateY(3px);
}
.active.burger:before{
  transform: translateY(0) rotate(45deg);
}
.active.burger:after{
  transform: translateY(0) rotate(-45deg);
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #141412;
  /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
  will-change: transform;
}

.overlay-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item{
  display: flex;
  cursor: pointer;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
}

.menu-item p{
  position: relative;
  text-align: center;
  font-size: 15vw;
  line-height: 80%;
  will-change: transform;
  transition: letter-spacing 0.3s;
}

.menu-item p:hover{
  letter-spacing: 0.075rem;
}

.menu-item p#active::after{
  content: "";
  position: absolute;
  top: 45%;
  left: 0;
  transform: translateY(-50%);
  background: var(--primary-color);
  width: 0%;
  height: 12px;
}

/* @media(max-width: 768px){
  .menu-item p{
    font-size: 25vw;
  }
} */
