/* @import url(style.css); */

/* Extra pequeños (teléfonos en vertical) */
@media (max-width: 480px) {

    /* Inicio Header */
    .parent {
        /* height: 500px; */
    }

    .img-mano {
        /* display: none; */
    }

    #title1 {
        /* font-weight: 600; */
        /* text-align: center; */
        /* padding: 0px 10px; */
    }

    .subtitle {
        /* width: 80%; */
        /* top: 38%; */
    }

    /* Fin Header */

    h2 {
        /* margin-top: 80px; */
    }

    .description {
        /* padding: 0px 20px; */
        /* margin-bottom: 50px; */
    }

    /* Inicio Sección Proyectos */
    .slider .slide-track {
        /* width: calc(250px * 10); */
    }

    .slider .slide-track-reverse {
        /* width: calc(250px * 10); */
    }

    .slider .slide {
        /* width: 250px; */
    }

    /* @keyframes slider {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-250px * 5));
        }
    } */
    /* Fin Sección Proyectos */

    /* Inicio Servicios */
    .grid-left,
    .grid-right {
        /* grid-template-columns: 1fr; */
        /* grid-template-rows: auto auto; */
        /* padding: 10px 20px; */
        /* gap: 0px; */
    }

    .grid-right .col-text,
    .grid-left .col-text {
        /* padding: 30px 20px; */
        /* height: auto; */
        /* grid-row: 2; */
    }

    .grid-right .col-img,
    .grid-left .col-img {
        /* grid-row: 1; */
        /* height: 190px; */
        /* margin-bottom: 20px; */
    }

    h3 {
        /* line-height: 1.7rem; */
    }

    /* Fin Servicios */

    /* Inicio Habilidades */
    .skills {
        /* gap: 20px; */
        /* padding: 0px 10px; */
    }

    .skill-container {
        /* width: 90px; */
        /* height: 90px; */
    }

    .skills .skill-container img {
        /* width: 50%; */
    }

    /* Fin Habilidades */

    /* Inicio Footer */
    footer {
        /* height: 400px; */
        /* margin-top: 100px; */
        /* padding-top: 80px; */
    }

    footer h2 {
        /* font-size: 1.7rem; */
    }

    /* footer p{
        text-align: center;
    } */
    /* Fin Footer */
}


@media (min-width: 768px) {

    .img-mano {
        display: block;
        height: 50px;
    }

    #title1 {
        font-size: 1.1rem;
        padding: 0px;
    }

    .subtitle {
        font-size: 2.7rem;
    }

    h2 {
        font-size: 2.7rem;
        margin-bottom: 40px;
    }

    .slider .slide-track {
        width: calc(350px * 10);
    }

    .slider .slide-track-reverse {
        width: calc(350px * 10);
    }

    .slider .slide {
        width: 350px;
    }

    @keyframes slider {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-350px * 5));
        }
    }

    .grid-right .col-img,
    .grid-left .col-img {
        /* grid-row: none; */
        height: 300px;
    }

    footer h2 {
        font-size: 2.7rem;
    }
}

@media (min-width: 1024px) {
    .parent {
        height: 600px;
    }

    #title1 {
        font-size: 1.3rem;
    }

    .subtitle {
        font-size: 3.7rem;
        top: 43%;
    }

    h2 {
        font-size: 3.7rem;
    }

    .grid-left,
    .grid-right {
        gap: 20px;
        padding: 0;
    }

    .grid-left {
        grid-template-columns: 55% 43%;
    }

    .grid-right {
        grid-template-columns: 43% 55%;
    }

    .grid-right .col-text,
    .grid-left .col-text {
        padding: 20px 20px;
    }

    .grid-right .col-img,
    .grid-left .col-img {
        grid-row: none;
        height: 100%;
    }

    footer {
        height: 430px;
    }

    footer h2 {
        font-size: 3.7rem;
    }
}

@media (min-width: 1280px) {
    .parent{
        height: 680px;
    }

    .subtitle {
        font-size: 4.7rem;
        top: 47%;
    }

    h2 {
        font-size: 4.7rem;
        margin-top: 90px;
    }

    .slider .slide-track {
        width: calc(450px * 10);
    }

    .slider .slide-track-reverse {
        width: calc(450px * 10);
    }

    .slider .slide {
        width: 450px;
    }

    @keyframes slider {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-450px * 5));
        }
    }

    .grid-right .col-text, .grid-left .col-text {
        padding: 0px 40px;
        height: 247px;
    }

    footer {
        height: 470px;
    }

    footer h2 {
        font-size: 4.7rem;
    }
}

/* Extra grandes (pantallas grandes) */
@media (min-width: 1536px) {
    .parent{
        height: calc(100vh - 40px);
    }

}

/* @media (max-width: 768px) {
    .parent {
        height: 500px;
    }

    #title1 {
        font-size: 1rem;
        text-align: center;
    }

    .subtitle {
        font-size: 1.7rem;
        width: 80%;
        top: 38%;
    }

    h2 {
        font-size: 1.7rem;
    }

    .contenedor {
        flex-direction: column;
    }

    .grid-left,
    .grid-right {
        grid-template-columns: 1fr;
    }
} */